.topnav {
  overflow: hidden;
  background-color: rgba(223, 243, 253, 1);
  height:165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 40px
}

.logo {
  position: relative;
  height: 64px;
  width: 312px; 
  background: url("/public/LogoWikimini.png") no-repeat;
  background-size: contain;
  z-index:1000;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 200px;
    height: 40px;
  }
}

.login-button {
  padding: 10px 40px;
  background: #EB5757;
  border-radius: 10px;
  text-decoration: none;
  color:white;
}

.login-button:hover {
  transform: scale(1.1);
}

.home-container {
    display:flex;
    align-items: center;
    flex-direction:column;
    position:relative;
    height:4000px;
    width:100vw;
    background-image: url("/public/main3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
  .home-container {
    padding-left:13%;
    padding-right:13%;;
  }
}

@media only screen and (min-width: 600px) {
  .home-container {
    padding-left:14%;
    padding-right:14%;
  }
}

@media only screen and (min-width: 768px) {
  .home-container {
    padding-left:20%;
    padding-right:20%;
  }
}

@media only screen and (min-width: 1500px) {
  .home-container {
    padding-left:20%;
    padding-right:20%;
  }
}

.sky-container {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    height:470px;
    margin-top:9%
}

.search-form {
    width:100%;
    height:76px;
    min-height: 70px;
    border-radius:50%;
    border:none;
    margin-bottom:20px;
    position:relative;
}

.search-input {
    width:100%;
    height:100%;
    border-radius:50px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    border:none;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
}

input:focus {
  outline: none !important;
}

.search-button {
    position:absolute;
    top: 50%;  
    right: 3%; 
    transform: translate(-50%, -50%);
    border:none;
    height:40px;
    width:40px;
    background: url("/public/search.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.description-container {
    position:relative;
}

h1 {
    padding:0px;
    font-family: 'Baloo Chettan 2', cursive;
}

.description-box {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius:20px;
    padding:0% 12% 5% 12%
}

@media only screen and (max-width: 600px) {
  .description-box {
    padding:3% 17% 8% 17%;
  }
}

@media only screen and (min-width: 600px) {
  .description-box {
    padding:3% 20% 8% 20%;
  }
}

@media only screen and (min-width: 768px) {
  .description-box {
    padding:3% 22% 8% 22%;
  }
}

@media only screen and (min-width: 992px) {
  .description-box {
    padding:3% 20% 8% 20%
  }
}

@media only screen and (min-width: 1200px) {
  .description-box {
    padding:3% 12% 5% 12%
  }
}

@media only screen and (min-width: 1500px) {
  .description-box {
    padding:3% 12% 5% 12%
  }
}

.title {
    font-size: 36px;
    font-family:'Baloo Chettan 2', cursive;
    font-weight: 600;
    text-align: center;
    margin-bottom:15px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 24px;
    }

    h1 {
      font-size:24px
    }
  }

@media only screen and (min-width: 600px) {
    .title {
        font-size: 24px;
    } 
  }

@media only screen and (min-width: 768px) {
    .title {
        font-size: 30px;
    }
  }

@media only screen and (min-width: 992px) {
    .title {
        font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 1500px) {
    .title {
        font-size: 36px;
    }
  }

p {
    margin:0;
}

.image-child {
    position:absolute;
    top: 60%;  
    left: -2%; 
    transform: translate(-50%, -50%);
    height: 380px;
    width: 350px;
    background: url("/public/woman-sitting.png") no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 400px) {
  .image-child {
    height: 160px;
    width: 160px;
    top: 90%;
  }
}

@media only screen and (min-width: 400px) {
  .image-child {
    height: 240px;
    width: 240px;
    top: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .image-child {
    height: 380px;
    width: 350px;
    top: 70%;
  }
}

@media only screen and (min-width: 1500px) {
  .image-child {
    top: 60%;
  }
}

.image-item {
    position:absolute;
    top: 100%;  
    left: 98%; 
    transform: translate(-50%, -50%);
    background: url("/public/backpack.png") no-repeat;
    background-size: contain;
}

@keyframes moveItem {
  from { transform: rotate(-2deg) }
  to   { transform: rotate(2deg) }
  }

@media only screen and (max-width: 400px) {
  .image-item {
    height: 100px;
    width: 100px;
    top: 94%;
  }
}

@media only screen and (min-width: 400px) {
  .image-item {
    height: 150px;
    width: 150px;
    top: 93%;
  }
}

@media only screen and (min-width: 768px) {
  .image-item {
    height: 180px;
    width: 180px;
    top: 85%;
  }
}

@media only screen and (min-width: 912px) {
  .image-item {
    height: 220px;
    width: 220px;
    top: 90%;
  }
}

.cloud-one {
  position:absolute;
  top: 6%;  
  left: 80%; 
  transform: translate(-100%, -50%);
  height: 120px;
  width: 220px;
  background: url("/public/cloud.png") no-repeat;
  background-size: contain;
  animation-name: displaceCloud;
  animation-duration: 22s;
  animation-direction:alternate;
  animation-iteration-count:infinite
}

.cloud-two {
  position:absolute;
  top: 3%;  
  left: 70%; 
  transform: translate(-100%, -50%);
  height: 120px;
  width: 220px;
  background: url("/public/cloud.png") no-repeat;
  background-size: contain;
  animation-name: displaceCloud;
  animation-duration: 22s;
  animation-direction:alternate;
  animation-iteration-count:infinite
}

.cloud-three {
    position:absolute;
    top: 4%;  
    left: 85%; 
    transform: translate(-100%, -50%);
    height: 120px;
    width: 220px;
    background: url("/public/cloud.png") no-repeat;
    background-size: contain;
    animation-name: displaceCloud;
    animation-duration: 22s;
    animation-direction:alternate;
    animation-iteration-count:infinite
}

@keyframes displaceCloud {
  from { transform : translateX(0%) }
  to   { transform : translateX(-100vw) }
  }

.rocks {
  position:absolute;
  top: 160%;  
  left: 0%; 
  transform: translate(-100%, -50%);
  height: 150px;
  width: 250px;
  background: url("/public/rocks.png") no-repeat;
  background-size: contain;
}

.category-container {
   display:flex;
   flex-direction: column;
   height:900px;
   width: 100%;
   margin-top:100px;
   align-items: center; 
}

.grid-container {
    margin-top:20px;
    display:grid;
    justify-items:center;
    align-content:center;
    max-width:1400px;
    gap:20px
}

@media only screen and (max-width: 600px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (min-width: 768px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (min-width: 992px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); };
}

@media only screen and (min-width: 1500px) {
  .grid-container { grid-template-columns: repeat(4, 1fr); }
}

.grid-container p {
  padding-left: 5px;
  padding-right: 5px;
}

.category-card {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding-bottom:15px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.article-link {
  text-decoration: none;
  color:black;
}

.category-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

  @media only screen and (max-width: 600px) {
    .category-card {
        height:130px;
        width:130px;  
    }
    .grid-container p {
        font-size:12px;
        font-weight: 600;
      }
      .info-container {
        flex-direction: column;
      }
  }

  @media only screen and (min-width: 600px) {
    .category-card {
        height:130px;
        width:130px;
      }
    .grid-container p {
        font-size:12px;
        font-weight: 600;
      }
      .info-container {
        flex-direction: column;
      }
  }

  @media only screen and (min-width: 768px) {
    .category-card {
        height:180px;
        width:180px;
    }
    .grid-container p {
        font-size:14px;
        font-weight: 600;
      }
      .info-container {
        flex-direction: column;
      }
  }

  @media only screen and (min-width: 992px) {
    .category-card {
        height:200px;
        width:200px;
      }
    .grid-container p {
        font-size:16px;
        font-weight: 600;
      }
      .info-container {
        flex-direction: row;
      }
  }

@media only screen and (min-width: 1500px) {
    .category-card {
        height:250px;
        width:250px;
      }
    .grid-container p {
        font-size:20px;
        font-weight: 600;
      }
      .info-container {
        flex-direction: row;
      }
  }

  .category-image{
    height: 80%;
    width: 70%; 
  }

  .info-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width:120%;
    height:425px;
    margin-top: 300px;
  }

  .info-container div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:8px;
  }

  .info-container div p {
    text-align:left;
  }

  .info-image {
    max-width: 100%;
    height: auto;
  }

  .info-container:last-of-type {
    margin-top:420px;
  }

  .read-more-button {
    background: #EB5757;
    color: white;
    border-radius: 10px;
    border:none;
    padding: 10px 40px;
    width: fit-content;
    margin-top:10px;
    cursor: pointer;
  }

  .read-more-button:hover {
    transform: scale(1.1);
   
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(192, 232, 252, 0.5);
    padding: 3% 8%;
 }

 .footer div {
  display: flex;
  flex-direction: column;
  gap:10px;
  min-width: 150px;
  padding-bottom: 30px;
 }

 .footer-logo {
  height: 150px;
  width: 150px;
  background: url("/public/Logo_footer.png") no-repeat;
  background-size: contain;
 }
