.dashboard-container {
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    position:relative;
    height:100%;
    width:100vw;
    padding-bottom:165px;
    padding-left: 10%;
    padding-right:10%;
    background-image: url("/public/Dashboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    gap: 40px
    
}